.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.p-relative {
  position: relative;
}

.z-i-1 {
  z-index: 1;
}

.mb-lg {
  margin-bottom: 8rem;

  @include respond(tab-port) {
    margin-bottom: 6rem;
  }
}

.mb-md {
  margin-bottom: 4rem;

  @include respond(tab-port) {
    margin-bottom: 3rem;
  }
}

.mb-sm {
  margin-bottom: 1.5rem;
}

.mb-sx {
  margin-bottom: 0.5rem;
}
